.container.my-4
  == render 'shared/error_messages', resource: resource
  h2 = t('forms.titles.sign_up')
  = simple_form_for(resource, as: resource_name, url: user_registration_path) do |f|
    .form-inputs.d-flex.flex-column.gap-3.mb-3
      .form-group
        = f.input :email, autofocus: true, input_html: { autocomplete: 'email', class: 'form-control' },
              label: t('forms.labels.email')
      = f.input :password, label: t('forms.labels.password'),
                      input_html: { autocomplete: 'new-password',  class: 'form-control' }
      = f.input :password_confirmation, label: t('forms.labels.password_confirmation'),
                      input_html: { autocomplete: 'new-password', class: 'form-control' }
    .form-actions
      = f.button :submit, t('forms.buttons.sign_up'), class: 'btn btn-primary'

  .mt-3
    = link_to t('forms.links.sign_in'), new_user_session_path, class: 'text-decoration-none'
