.container.my-4
  h2
    | Forgot your password?
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    .form-inputs.d-flex.flex-column.gap-3.mb-3
      = f.input :email, required: true, autofocus: true, input_html: { autocomplete: 'email' }
    .form-actions
      = f.button :submit, 'Send me reset password instructions', class: 'btn btn-primary'
  .mt-3
    = render 'devise/shared/links'
