.mt-4
  h1 = t('common_text.main_page_title')
  #posts
    - if @posts.empty?
      span = t('post.empty')
      '
      => link_to t('post.create_new_post'), new_post_path
    - else
      .d-flex.flex-column.gap-3
        - @posts.each do |post|
          == render 'shared/post_preview', post: post
