.mt-4
  h1 = t('common_text.main_page_title')
  #posts
    - if @posts.empty?
      span = t('post.empty')
      '
      - if user_signed_in?
        = link_to t('post.create_new_post'), new_post_path
      - else
        = link_to t('common_text.sign_in'), new_user_session_path
    - else
      .d-flex.flex-column.gap-3
        - @posts.each do |post|
          .card id="#{dom_id post}"
            .card-body
              .card-title
                = link_to post.title, post_path(post), class: 'h5 card-title text-decoration-none'
              .card-text.mb-2 = post.body.truncate(300)
              .text-right.small.text-muted.mt-auto
                span.me-2 = time_ago_in_words(post.created_at) + ' ' + t('common_text.ago')
                span = post.creator.email
