doctype html
html
  head
    title = 'Hexlet Blog'
    meta(name = 'viewport' content = 'width=device-width,initial-scale=1')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', type: 'module'

  body
    = render 'shared/navbar'

    - if notice
      .alert.alert-info.alert-dismissible.fade.show role="alert"
        = notice
        button.btn-close type="button" data-bs-dismiss="alert" aria-label="Close"

    main
      = yield
